# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Data (do not commit large datasets)
data/raw/*
!data/raw/.gitkeep

# Runs/artifacts
runs/
reports/figures/*.png
reports/tables/*.csv

# OS
.DS_Store
Thumbs.db
